.user-menu>.dropdown-menu{
    border-top-right-radius:0;
    border-top-left-radius:0;
    padding:1px 0 0 0;
    border-top-width:0;
    width:280px
}
.user-menu>.dropdown-menu,.navbar-nav>.user-menu>.dropdown-menu>.user-body{
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px
}
.user-menu>.dropdown-menu>li.user-header{
    height:175px;
    padding:10px;
    text-align:center
}
.user-menu>.dropdown-menu>li.user-header>img{
    z-index:5;
    height:90px;
    width:90px;
    border:3px solid;
    border-color:transparent;
    border-color:rgba(255,255,255,0.2)
}
.user-menu>.dropdown-menu>li.user-header>p{
    z-index:5;
    color:#fff;
    color:rgba(255,255,255,0.8);
    font-size:17px;
    margin-top:10px
}
.user-menu>.dropdown-menu>li.user-header>p>small{
    display:block;
    font-size:12px
}
.user-menu>.dropdown-menu>.user-body{
    padding:15px;
    border-bottom:1px solid #f4f4f4;
    border-top:1px solid #dddddd
}
.user-menu>.dropdown-menu>.user-body:before,.navbar-nav>.user-menu>.dropdown-menu>.user-body:after{
    content:" ";
    display:table
}
.user-menu>.dropdown-menu>.user-body:after{
    clear:both
}
.user-menu>.dropdown-menu>.user-body a{
    color:#444 !important
}
@media (max-width:991px){
    .user-menu>.dropdown-menu>.user-body a{
        background:#fff !important;
        color:#444 !important
    }
}
.user-menu>.dropdown-menu>.user-footer{
    background-color:#f9f9f9;
    padding:10px
}
.user-menu>.dropdown-menu>.user-footer:before,.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after{
    content:" ";
    display:table
}
.user-menu>.dropdown-menu>.user-footer:after{
    clear:both
}
.user-menu>.dropdown-menu>.user-footer .btn-default{
    color:#666666
}
@media (max-width:991px){
    .user-menu>.dropdown-menu>.user-footer .btn-default:hover{
        background-color:#f9f9f9
    }
}
.user-menu .user-image{
    float:left;
    width:25px;
    height:25px;
    border-radius:50%;
    margin-right:10px;
    margin-top:-2px
}
@media (max-width:767px){
    .user-menu .user-image{
        float:none;
        margin-right:0;
        margin-top:-8px;
        line-height:10px
    }
}
